/*

  TEMPO

  Responsive grid system
  http://jxnblk.github.io/tempo

  Made with love by Jxnblk (c)2014 Brent Jackson
  MIT License http://opensource.org/licenses/MIT

*/
// BASIC ROW
[ui-row] {
  overflow: hidden;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
// CONTAINMENT MEANS MAX-WIDTH AND CENTERING
[ui-row~="contained"] {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

/* <div class="row container">
vs
<div ui-row>
<div ui-row="contained">
<div ui-row="contained 6">
*/

[ui-column] {
  box-sizing: border-box;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

[ui-column~="mobile"] {
  float: left;
}

[ui-column~="mobile-1"] {
  width: 8.33333%;
}

[ui-column~="mobile-2"] {
  width: 16.66667%;
}

[ui-column~="mobile-3"] {
  width: 25%;
}

[ui-column~="mobile-4"] {
  width: 33.33333%;
}

[ui-column~="mobile-5"] {
  width: 41.66667%;
}

[ui-column~="mobile-6"] {
  width: 50%;
}

[ui-column~="mobile-7"] {
  width: 58.33333%;
}

[ui-column~="mobile-8"] {
  width: 66.66667%;
}

[ui-column~="mobile-9"] {
  width: 75%;
}

[ui-column~="mobile-10"] {
  width: 83.33333%;
}

[ui-column~="mobile-11"] {
  width: 91.66667%;
}

@media screen and (min-width: 36em) {
  [ui-column] {
    float: left;
  }

  [ui-column~="right"] {
    float: right;
  }

  [ui-column~="center"] {
    margin-right: auto;
    margin-left: auto;
  }

  [ui-column~="1"] {
    width: 8.33333%;
  }

  [ui-column~="pre-1"] {
    margin-left: 8.33333%;
  }

  [ui-column~="post-1"] {
    margin-right: 8.33333%;
  }

  [ui-column~="2"] {
    width: 16.66667%;
  }

  [ui-column~="pre-2"] {
    margin-left: 16.66667%;
  }

  [ui-column~="post-2"] {
    margin-right: 16.66667%;
  }

  [ui-column~="3"] {
    width: 25%;
  }

  [ui-column~="4"] {
    width: 33.33333%;
  }

  [ui-column~="5"] {
    width: 41.66667%;
  }

  [ui-column~="6"] {
    width: 50%;
  }

  [ui-column~="7"] {
    width: 58.33333%;
  }

  [ui-column~="8"] {
    width: 66.66667%;
  }

  [ui-column~="9"] {
    width: 75%;
  }

  [ui-column~="10"] {
    width: 83.33333%;
  }

  [ui-column~="11"] {
    width: 91.66667%;
  }

  // ROW CONTAINMENT WIDTHS

  [ui-row~="10"] {
    max-width: 62.25rem;
  }

  [ui-row~="8"] {
    max-width: 49.5rem;
  }

  [ui-row~="6"] {
    max-width: 36.75rem;
  }
}
